Source: mlton
Section: devel
Priority: optional
Maintainer: Wesley W. Terpstra (Debian) <terpstra@debian.org>
Build-Depends: mlton (>= 20070826), htmldoc, libgmp3-dev (>= 4.0.1), texlive-latex-base, procps, debhelper (>= 7.0.0), cdbs (>= 0.4.52)
Standards-Version: 3.8.4

Package: mlton
Architecture: alpha amd64 armel hppa hurd-i386 i386 ia64 kfreebsd-i386 kfreebsd-amd64 mips mipsel powerpc s390 sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, gcc, libc6-dev, libgmp3-dev (>= 4.0.1)
Homepage: http://mlton.org/
Description: Optimizing compiler for Standard ML
 MLton is a whole-program optimizing compiler
 for Standard ML.  MLton generates standalone 
 executables with excellent runtime performance,
 is SML 97 compliant, and has a complete basis
 library.  MLton has source-level profiling,
 a fast C FFI, an interface to the GNU
 multiprecision library, and lots of useful
 libraries.
