Source: mlton
Section: devel
Priority: optional
Maintainer: Stephen Weeks <sweeks@sweeks.com>
Build-Depends: mlton (>= 20041109-1), htmldoc, libgmp3-dev (>= 4.0.1), tetex-bin, tetex-extra
Standards-Version: 3.7.2

Package: mlton
Architecture: amd64 hppa i386 powerpc sparc
Depends: ${shlibs:Depends}, gcc, libc6-dev, libgmp3-dev (>= 4.0.1)
Description: Optimizing compiler for Standard ML
 MLton (mlton.org) is a whole-program optimizing
 compiler for Standard ML.  MLton generates
 standalone executables with excellent runtime
 performance, is SML 97 compliant, and has a
 complete basis library.  MLton has source-level
 profiling, a fast C FFI, an interface to the GNU
 multiprecision library, and lots of useful
 libraries.
