#!/usr/bin/make -f

VERSION=$(dpkg-parsechangelog  | grep Version | cut -d" " -f2)
CP = cp -fpR

configure: configure-stamp
configure-stamp:
	make VERSION=$(VERSION) RELEASE=1 version
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	$(MAKE)
	./bin/regression
	touch build-stamp

clean:
	rm -f build-stamp configure-stamp
	$(MAKE) clean

BUILDDIR = $(CURDIR)/debian/mlton
install: build
	$(MAKE) install post-install-debian DESTDIR=$(BUILDDIR) \
		MAN_PREFIX_EXTRA=/share

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	# dh_installdeb
	mkdir -p $(BUILDDIR)/DEBIAN
	# dh_shlibdeps
	dpkg-shlibdeps \
		-e$(BUILDDIR)/usr/bin/mllex \
		-e$(BUILDDIR)/usr/bin/mlnlffigen \
		-e$(BUILDDIR)/usr/bin/mlprof \
		-e$(BUILDDIR)/usr/bin/mlyacc \
		-e$(BUILDDIR)/usr/lib/mlton/mlton-compile 
	# dh_gencontrol
	dpkg-gencontrol -isp -P$(BUILDDIR)
	# dh_md5sums
	cd $(BUILDDIR) && \
		find * -type f ! -regex '^DEBIAN/.*' -print0 | \
			xargs -r0 md5sum >DEBIAN/md5sums
	# dh_builddeb
	dpkg-deb --build $(BUILDDIR) ../

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
