Source: mlton
Section: devel
Priority: optional
Maintainer: Barak Pearlmutter <bap@cs.unm.edu>
Build-Depends: mlton (>= 20020410.1), debhelper (>> 3.0.0), libgmp3-dev (>= 2.0.2), tetex-bin, tetex-extra, latex2html, time
Standards-Version: 3.5.2

Package: mlton
Architecture: i386
Depends: ${shlibs:Depends}, libgmp3-dev
Description: Whole-program optimizing compiler for Standard ML
 MLton is a whole-program optimizing compiler for
 Standard ML that runs on X86 machines under
 Linux.  MLton generates standalone executables
 with good runtime performance, is SML 97
 compliant, and has a mostly complete basis
 library.  MLton has support for profiling and a
 fast C FFI.  MLton has additional libraries for
 continuations, interval timers, random numbers,
 signal handlers, sockets, system logging,
 threads, and heap save and restore.  It also has
 a fast implementation of IntInf using the GNU
 multiprecision library.
