Source: mlton
Section: devel
Priority: optional
Maintainer: Stephen Weeks <sweeks@sweeks.com>
Build-Depends: mlton (>= 20020410.1), debhelper (>> 3.0.0), devscripts, libgmp3-dev (>= 2.0.2), lintian, tetex-bin, tetex-extra, latex2html, time
Standards-Version: 3.5.2

Package: mlton
Architecture: i386
Depends: ${shlibs:Depends}, libgmp3-dev
Description: Optimizing compiler for Standard ML
 MLton (www.mlton.org) is a whole-program
 optimizing compiler for Standard ML that runs on
 X86 machines under Linux, FreeBSD and
 Cygwin/Windows.  MLton generates standalone
 executables with excellent runtime performance,
 is SML 97 compliant, and has a mostly complete
 basis library.  MLton has profiling, a fast C
 FFI, an interface to the GNU multiprecision
 library, and lots of useful libraries.
