/mlton*-compile
/mlton*-compile.exe
/mlton*-compile.debug
/mlton*-compile.debug.exe
/mlton*-compile.trace
/mlton*-compile.trace.exe
/mlton*-compile.alloc
/mlton*-compile.alloc.exe
/mlton*-compile.count
/mlton*-compile.count.exe
/mlton*-compile.time
/mlton*-compile.time.exe

/mlton-stubs.mlb

/mlton.def-use

/mlton-bootstrap-*.tgz

/mlton*-compile-smlnj.*-*
.cm/

/mlton-polyml.sml
/mlton*-compile-polyml.exe
/mlton*-compile-polyml

/mlton-mlkit.mlb
/mlton*-compile-mlkit
/mlton*-compile-mlkit.exe
*-mlkit.mlb
*-mlkit-bind*.sml
MLB/
