## Ignore all .cm directories
.cm/

## Ignore all .basis files
*.basis

/mlton-compile
/mlton-compile.exe
/mlton-compile.debug
/mlton-compile.debug.exe
/mlton-compile.alloc
/mlton-compile.alloc.exe
/mlton-compile.count
/mlton-compile.count.exe
/mlton-compile.time
/mlton-compile.time.exe
/mlton-compile.trace
/mlton-compile.trace.exe
/mlton-polyml
/mlton-polyml.exe
/mlton-polyml.use
/mlton-smlnj.*-*
/mlton-stubs.mlb
/mlton.def-use
